CREATE USER 'MYSQL_USER'@'localhost' IDENTIFIED BY 'USER_PASSWORD';

GRANT USAGE ON `satanbarbara`.* TO 'MYSQL_USER'@'localhost' IDENTIFIED BY 'USER_PASSWORD';

GRANT ALL PRIVILEGES ON `satanbarbara`.* TO 'MYSQL_USER'@'localhost' IDENTIFIED BY 'USER_PASSWORD';